numpy==1.26.4
pandas==2.3.2
scipy==1.16.1
h5py==3.14.0
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchinfo==1.8.0
einops==0.8.1
transformers==4.55.4
pyod==2.0.5
rrcf==0.4.4
stumpy==1.13.0
tslearn==0.6.4
TSB_AD
pysad
PyNomaly==0.3.3
hurst==0.0.5
arch==7.2.0
statsmodels==0.14.5
scikit-learn==1.6.1
tqdm==4.67.1
matplotlib==3.10.5
seaborn==0.13.2
plotly==6.3.1
networkx==3.5
PyYAML==6.0.2
combo==0.1.3